apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempconv-backend
  namespace: tempconv
  labels:
    app: tempconv-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempconv-backend
  template:
    metadata:
      labels:
        app: tempconv-backend
    spec:
      containers:
        - name: backend
          image: us-central1-docker.pkg.dev/tempconverter-487211/tempconv/backend:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: grpc
              containerPort: 50051
            - name: http
              containerPort: 8080
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: tempconv-backend
  namespace: tempconv
spec:
  selector:
    app: tempconv-backend
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP