apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempconv-frontend
  namespace: tempconv
  labels:
    app: tempconv-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempconv-frontend
  template:
    metadata:
      labels:
        app: tempconv-frontend
    spec:
      containers:
        - name: frontend
          image: us-central1-docker.pkg.dev/tempconverter-487816/tempconv/tempconv-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "64Mi"
              cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: tempconv-frontend
  namespace: tempconv
spec:
  selector:
    app: tempconv-frontend
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
