apiVersion: v1
kind: Service
metadata:
  name: tempconv-backend-lb
  namespace: tempconv
spec:
  type: LoadBalancer
  selector:
    app: tempconv-backend
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: tempconv-frontend-lb
  namespace: tempconv
spec:
  type: LoadBalancer
  selector:
    app: tempconv-frontend
  ports:
    - port: 80
      targetPort: 80